:root {
    --primary: #DC6ACF;
    --text: #fff;

    --background-100: #241b22;
    --background-200: #393037;
    --background-300: #4e464c;
    --background-400: #655e63;
    --background-500: #7d777b;
    --background-600: #969094;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-apart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

body {
    background-color: var(--background-100);
    display: flex;
    flex-direction: column;
    padding: 2rem 20%;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
}

#summary-head {
    margin-bottom: 2rem;
}

#summary-icon {
    fill: green;
    width: 5rem;
    height: 5rem;
}

#summary-counts {
    font-size: 2rem;
    margin-left: 1rem;
}

#summary-chart {
    background-color: var(--background-200);
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--background-300);
}

.room {
    background-color: var(--background-200);
    border-radius: 1rem;
    border: 2px solid var(--background-400);
    margin-top: 5rem;
    overflow: hidden;
}

.room-header {
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--background-300);
    cursor: pointer;
}

.room-header>.flex-apart {
    margin-bottom: 1rem;
}

.room-header>.flex-apart>div {
    width: calc(100% / 3);
}

.room-name {
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0;
}

.room-operational-icon, .room-unreachable-icon {
    margin-left: .5rem;
    width: 2rem;
    height: 2rem;
}

.room-operational-icon {
    fill: green;
}

.room-unreachable-icon {
    fill: red;
}

.room-counter {
    font-size: 3rem;
    text-align: center;
}

.room-up-duration {
    font-size: 1.5rem;
    text-align: right;
}

.room-computer-list {
    display: flex;
    flex-direction: row;
}

.room-computer-on, .room-computer-off, .room-computer-missing {
    flex-grow: 1;
    height: 2rem;
    margin: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.room-computer-on {
    background-color: green;
}

.room-computer-off {
    background-color: red;
}

.room-computer-missing {
    background-color: var(--background-400);
}

table {
    border-collapse: collapse;
}

td:nth-child(2) {
    width: 5%;
}

td:nth-child(5) {
    width: 30%;
}

td, th {
    text-align: center;
    padding: .2rem .3rem;
    height: 2rem;
}

th {
    font-weight: normal;
    font-size: 1rem;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
}

td {
    font-size: .9rem;
}

tr:nth-child(odd) td {
    background-color: var(--background-300);
    border-right: 2px solid var(--background-400);
}

tr:nth-child(even) td, tr th {
    background-color: var(--background-200);
    border-right: 2px solid var(--background-400);
}

td:last-child, th:last-child {
    border-right: none !important;
}

tr:has(td:hover) td, th:hover {
    background-color: var(--background-400) !important;
    border-color: var(--background-500) !important;
}
